<a href="https://colab.research.google.com/github/andreidore/aicrowd_practice/blob/master/olnwp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
!rm -rf data
!mkdir data
!wget https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/olnwp/v0.1/test.zip
!wget https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/olnwp/v0.1/train.zip
!unzip train.zip
!unzip test.zip
!mv train.csv data/train.csv
!mv test.csv data/test.csv

--2020-05-22 08:16:33--  https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/olnwp/v0.1/test.zip
Resolving s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)... 130.117.252.10, 130.117.252.11, 130.117.252.16, ...
Connecting to s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)|130.117.252.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2628035 (2.5M) [application/zip]
Saving to: ‘test.zip’

test.zip            100%[===================>]   2.51M  1.54MB/s    in 1.6s

2020-05-22 08:16:36 (1.54 MB/s) - ‘test.zip’ saved [2628035/2628035]

--2020-05-22 08:16:38--  https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/olnwp/v0.1/train.zip
Resolving s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)... 130.117.252.10, 130.117.252.11, 130.117.252.16, ...
Connecting to s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)|130.117.252.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5406140 (5.2M) [application/zip]
Saving to: ‘train.zip’

train.zip           100%[===================>]   5.16M  2.68MB/s    in 1.9s

2020-05-22 08:16:41 (2.68 MB/s) - ‘train.zip’ saved [5406140/5406140]

Archive:  train.zip
  inflating: train.csv
Archive:  test.zip
  inflating: test.csv

In [0]:
all_data = pd.read_csv('data/train.csv')

In [5]:
all_data.describe()

          timedelta  ...         shares
count  26561.000000  ...   26561.000000
mean     354.110802  ...    3369.156094
std      213.485655  ...   10971.259269
min        8.000000  ...       1.000000
25%      165.000000  ...     948.000000
50%      339.000000  ...    1400.000000
75%      540.000000  ...    2800.000000
max      731.000000  ...  690400.000000

[8 rows x 60 columns]

In [7]:
all_data["url"]

0        http://mashable.com/2013/08/01/chromecast-hbo-...
1        http://mashable.com/2014/04/10/scrabble-geocache/
2        http://mashable.com/2013/11/11/sony-unboxing-ps4/
3        http://mashable.com/2014/10/18/comic-sans-type...
4        http://mashable.com/2013/03/26/yahoo-buys-summly/
                               ...
26556               http://mashable.com/2013/05/02/iflask/
26557    http://mashable.com/2013/08/10/internet-securi...
26558    http://mashable.com/2014/12/03/indiegogo-insur...
26559    http://mashable.com/2013/01/22/obama-sings-sex...
26560    http://mashable.com/2013/11/07/space-burial-co...
Name: url, Length: 26561, dtype: object

In [8]:
all_data = all_data.drop('url',1)
all_data.head()

    timedelta   n_tokens_title  ...   abs_title_sentiment_polarity   shares
0       525.0             10.0  ...                       0.000000      782
1       273.0             11.0  ...                       0.000000     6200
2       423.0             10.0  ...                       0.200000      723
3        80.0             11.0  ...                       0.218182      809
4       653.0             11.0  ...                       0.125000     1600

[5 rows x 60 columns]

In [0]:
X = all_data.drop(' shares',1)
y = all_data[' shares']
# Validation testing
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
regressor = LinearRegression()  

# from sklearn import tree
# regressor = tree.DecisionTreeRegressor()

regressor.fit(X_train, y_train)

coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])  
coeff_df.head()

y_pred = regressor.predict(X_val)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_val, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_val, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_val, y_pred)))

Mean Absolute Error: 3174.901688002103
Mean Squared Error: 168520453.62617025
Root Mean Squared Error: 12981.542806083191

In [0]:
test_data = pd.read_csv('data/test.csv')

test_data = test_data.drop('url',1)
test_data.head()


y_test = regressor.predict(test_data)


y_inttest = [int(i) for i in y_test]
y_inttest = np.asarray(y_inttest)
df = pd.DataFrame(y_inttest,columns=[' shares'])
df.to_csv('submission.csv',index=False)

In [0]:
from google.colab import files
files.download('submission.csv')