<a href="https://colab.research.google.com/github/andreidore/aicrowd_practice/blob/master/tmpmn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import normalize
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_error,mean_squared_error
import xgboost

In [2]:
!rm -rf data
!mkdir data
!wget https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/tmpmn/v0.1/test.csv
!wget https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/tmpmn/v0.1/train.csv
!mv train.csv data/train.csv
!mv test.csv data/test.csv

--2020-05-20 16:52:26--  https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/tmpmn/v0.1/test.csv
Resolving s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)... 130.117.252.10, 130.117.252.13, 130.117.252.16, ...
Connecting to s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)|130.117.252.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13261 (13K) [text/csv]
Saving to: ‘test.csv’

test.csv            100%[===================>]  12.95K  56.5KB/s    in 0.2s

2020-05-20 16:52:27 (56.5 KB/s) - ‘test.csv’ saved [13261/13261]

--2020-05-20 16:52:28--  https://s3.eu-central-1.wasabisys.com/aicrowd-practice-challenges/public/tmpmn/v0.1/train.csv
Resolving s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)... 130.117.252.10, 130.117.252.13, 130.117.252.16, ...
Connecting to s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)|130.117.252.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58422 (57K) [text/csv]
Saving to: ‘train.csv’

train.csv           100%[===================>]  57.05K   123KB/s    in 0.5s

2020-05-20 16:52:30 (123 KB/s) - ‘train.csv’ saved [58422/58422]

In [0]:
all_data_path = "data/train.csv" #path where data is stored

In [104]:
all_data = pd.read_csv(all_data_path)
all_data.head()

   Max_temperature  Min_temperature  ...  Max_wind_speed  Mean_temperature
0             86.5             57.6  ...           34.28              72.4
1             55.6             37.4  ...           34.28              46.6
2             85.6             62.4  ...           34.28              74.3
3             75.2             53.6  ...           34.28              62.8
4             60.8             34.0  ...           34.28              49.9

[5 rows x 10 columns]

In [105]:
all_data.describe()

       Max_temperature  Min_temperature  ...  Max_wind_speed  Mean_temperature
count      1168.000000      1168.000000  ...     1168.000000       1168.000000
mean         72.569692        51.030308  ...       34.294033         61.847774
std          16.026870        13.157508  ...        2.435109         14.444963
min          36.700000        15.800000  ...       16.110000         29.400000
25%          59.000000        40.950000  ...       34.280000         49.775000
50%          71.600000        50.600000  ...       34.280000         60.750000
75%          87.800000        62.250000  ...       34.280000         75.700000
max         105.000000        78.400000  ...       55.240000         89.000000

[8 rows x 10 columns]

In [129]:
all_data.corr()

                    Max_temperature  ...  Mean_temperature
Max_temperature            1.000000  ...          0.978845
Min_temperature            0.894336  ...          0.957402
Dewpoint                   0.745472  ...          0.781420
Precipitation             -0.198187  ...         -0.152560
Sea_level_pressure        -0.501467  ...         -0.574501
Standard_pressure          0.100538  ...          0.137732
Visibility                 0.115397  ...          0.226826
Wind_speed                 0.106632  ...          0.184264
Max_wind_speed            -0.152013  ...         -0.133136
Mean_temperature           0.978845  ...          1.000000

[10 rows x 10 columns]

In [47]:
all_data.columns

Index(['Max_temperature', 'Min_temperature', 'Dewpoint', 'Precipitation',
       'Sea_level_pressure', 'Standard_pressure', 'Visibility', 'Wind_speed',
       'Max_wind_speed', 'Mean_temperature'],
      dtype='object')

In [175]:
features=["Max_temperature","Min_temperature","Dewpoint","Sea_level_pressure"]
target=["Mean_temperature"]
columns=list(features)
columns.extend(target)
print(columns)

data=all_data[columns]
data.head()

['Max_temperature', 'Min_temperature', 'Dewpoint', 'Sea_level_pressure', 'Mean_temperature']

   Max_temperature  Min_temperature  ...  Sea_level_pressure  Mean_temperature
0             86.5             57.6  ...               29.93              72.4
1             55.6             37.4  ...               30.30              46.6
2             85.6             62.4  ...               29.94              74.3
3             75.2             53.6  ...               29.93              62.8
4             60.8             34.0  ...               30.04              49.9

[5 rows x 5 columns]

In [0]:
X_train, X_val= train_test_split(data, test_size=0.2, random_state=42)

In [0]:
X_train,y_train = X_train.iloc[:,:-1],X_train.iloc[:,-1]
X_val,y_val = X_val.iloc[:,:-1],X_val.iloc[:,-1]

In [178]:
X_train.head()

     Max_temperature  Min_temperature  Dewpoint  Sea_level_pressure
591             59.0             27.5      27.4               30.29
184             96.8             73.2      61.7               29.75
743             61.0             40.6      39.3               29.98
178             77.2             53.2      51.5               30.09
597             95.2             61.2      51.2               29.79

In [0]:
#X_train=normalize(X_train)
#X_val=normalize(X_val)

In [90]:
#print(X_train)

[[0.69616073 0.3244817  0.32330176 ... 0.01899693 0.08141541 0.40448118]
 [0.66152386 0.50024325 0.42165312 ... 0.10524243 0.15718026 0.23426692]
 [0.62655855 0.41702093 0.40366805 ... 0.1068231  0.18796756 0.35210536]
 ...
 [0.66802423 0.44239481 0.41983187 ... 0.12329036 0.16761042 0.27623487]
 [0.4945829  0.37066301 0.28293212 ... 0.25990276 0.35311684 0.47835268]
 [0.61019907 0.46333438 0.40837857 ... 0.1279144  0.19708293 0.32480783]]

In [187]:
#regressor = LinearRegression()
regressor=RandomForestRegressor()
regressor=MLPRegressor(hidden_layer_sizes=(100,3))

regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_val)

#regressor = xgboost.XGBRegressor(random_state=42)
#regressor.fit( X_train, y_train, early_stopping_rounds=10,eval_set=[(X_val, y_val)] )
#y_pred = regressor.predict(X_val)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [188]:
mse = mean_squared_error(y_val,y_pred)
mae = mean_absolute_error(y_val,y_pred)

print("MSE of the model is :" ,mse)
print("MAE of the model is :" ,mae)

MSE of the model is : 3969.889205433062
MAE of the model is : 61.18042163762725

In [0]:
final_test_path = "data/test.csv"
final_test = pd.read_csv(final_test_path)

final_test=final_test[features]

submission = regressor.predict(final_test)


submission = pd.DataFrame(submission)
submission.to_csv('submission.csv',header=['mean_temp'],index=False)

In [0]:
from google.colab import files
files.download('submission.csv')